<%- include('./partials/header') %>

<div class="ui text container segment">
  <h1></h1>
  <div class="ui huge header">Store Details</div>

  <form class="ui form" action="/<%= user._id %>/pairs" method="POST">
    <div class="field">
      <label>Website/Application</label>
      <input type="text" name="pair[website]" placeholder="Website" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="pair[password]" placeholder="Password" />
    </div>
    <input class="ui big black basic button" type="submit" />
  </form>
</div>

<%- include('./partials/footer') %>
